<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row *ngIf="currentScreenSize === 'XSmall'">
    <div>Coltrane</div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div *ngIf="currentScreenSize !== 'XSmall'">Coltrane</div>
    <div class="radio-container">
      <mat-radio-group class="radio-group" [(ngModel)]="selectedNote" (change)="radioAndSelectUpdate()">
        <mat-radio-button *ngFor="let note of notes" [value]="note" color="accent">
          {{note}}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="grid-container">
  <div class="header-and-form">
    <h1 class="mat-h1">Substitutions for: {{selectedNote}}</h1>
    <mat-form-field>
      <mat-label>Mode</mat-label>
      <mat-select [(value)]="selectedMode" (valueChange)="radioAndSelectUpdate()" >
        <mat-option *ngFor="let mode of modes" [value]="mode.value">
          {{mode.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  
  <mat-grid-list cols="7" rowHeight="100px" cdkDropList (cdkDropListDropped)="drop($event)">
    <mat-grid-tile *ngFor="let oCard of outerCards; let i = index" [colspan]="oCard.cols" [rowspan]="oCard.rows" [cdkDragData]="oCard.title" cdkDrag>
      <mat-card class="dashboard-card mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title>
            {{ oCard.title }}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu" *ngIf="oCard.title !== outerCardsTitleList[0]">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before" >
              <button mat-menu-item>Substitute!</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <mat-grid-list cols="7" gutterSize="5px" rowHeight="100px" *ngIf="oCard.title === outerCardsTitleList[0]">
            <mat-grid-tile *ngFor="let iCard of innerCards; let i = index" [colspan]="iCard.cols">
              <mat-card class="inner-card">
                <mat-card-subtitle>{{ iCard.title }}</mat-card-subtitle>
                <button mat-fab [color]="selectedFunction === reimann[i] ? 'warn' : 'primary'" class="inner-card-fab" (click)="fabUpdate(i)">
                  {{ reimann[i] }}
                </button>
              </mat-card>
            </mat-grid-tile>
          </mat-grid-list>
          <h2  class="mat-h2" *ngIf="outerCards[outerCards.length-1].title === outerCardsTitleList[0]">{{coltrane[i]}}</h2>
          <h2 class="mat-h2" *ngIf="outerCards[outerCards.length-1].title !== outerCardsTitleList[0]">{{coltrane[i - 1]}}</h2>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile-footer></mat-grid-tile-footer>
  </mat-grid-list>
</div>
